

<h2><%= @amusement_park.name %></h2>
<h3><%= "Admissions: #{@amusement_park.admission_price}" %></h3>

<figure>
  <figcaption>Rides: </figcaption>
    <ol>
      <% @amusement_park.rides.each do |ride| %>
        <li><%= ride.name %></li>
      <% end %>
    </ol>
<figure>

<h4>Average Thrill Rating of Rides: <%= @amusement_park.average_ride_rating.to_f.round(1) %></h4>
